# ================== #
# ~~~~| Global |~~~~ #
# ================== #

# Determina o tipo de ambiente que a aplicação estará sendo executada.
# - D, DEV, DEVELOP para ambiente de desenvolvimento (local).
# - H, HMLG, HOMOLOG para ambiente de homologação.
# - P, PROD, PRODUCTION para ambiente de produção.
ENV=DEV

# IP do host da aplicação.
HOST_IP=0.0.0.0

WS_PORT=3000

# ================== #
# ~~~~| Docker |~~~~ #
# ================== #

# Variável de ambiente utilizada pelo docker-compose.
# Determina o nome do projeto, usado para criar o nome dos contêineres.
# - Normalmente possui o mesmo valor que o slug do projeto.
COMPOSE_PROJECT_NAME=sistemas

# Variável de ambiente utilizada pelo docker-compose.
# Determina quais arquivos `.yml` serão lidos quando rodar os comandos do
# docker-compose.
# - Múltiplos arquivos devem ser separados pelo mesmo caractere contido em
#   `COMPOSE_PATH_SEPARATOR`.
COMPOSE_FILE=docker-compose.yml

# Variável de ambiente utilizada pelo docker-compose.
# Determina o caractere de separação de arquivos contidos em `COMPOSE_FILE`.
COMPOSE_PATH_SEPARATOR=;

# =================== #
# ~~~~| FastAPI |~~~~ #
# =================== #

# Porta da aplicação FastAPI
APP_PORT=8080

# Número de workers do GUnicorn (Quando a aplicação FastAPI for criada com GUnicorn).
APP_WORKERS=1

# ==================== #
# ~~~~| RabbitMQ |~~~~ #
# ==================== #

# Usuário do rabbitMQ local.
RABBITMQ_DEFAULT_USER=admin

# Senha do rabbitMQ local.
RABBITMQ_DEFAULT_PASS=admin

# Porta que será exposta do rabbitMQ local.
RABBITMQ_PORT=5672

# Porta do admin que será exposta do rabbitMQ local.
# Utilizado apenas pelo 'docker-compose.rabbitmq.yml'.
RABBITMQ_MANAGEMENT_PORT=15672

# ================= #
# ~~~~| Redis |~~~~ #
# ================= #

REDIS_PORT=6379

# ================== #
# ~~~~| Celery |~~~~ #
# ================== #

# String de conexão com a API do 'message broker', usada para capturar os dados das filas.
CELERY_BROKER_API_URL=amqp://admin:admin@rabbitmq:5672//

# String de conexão (opcional) com o 'result backend' usado pelo celery principal.
CELERY_RESULT_BACKEND=redis://redis:6379/0

JWT_SECRET=Xh4FjmG0SjKPyTuTjkH1kzadZSLCh2NxXtSqncphry6RHgjPYsvjA6RMaSYe25P3gjtSGkMj1zOnhZRM

CREATE_USER_PASSWORD="pa&5!e83@qHIZO1B3Siq8XCKS6dkI"

MONGODB_ADMIN_USERNAME=root
MONGODB_ADMIN_PASSWORD=root
MONGODB_HOST=mongo
MONGODB_PORT=27017
MONGODB_DATABASE_NAME=trabalho_sistemas
MONGODB_DEBUG=0

TIMEZONE=America/Sao_Paulo