# ================== #
# ~~~~| Global |~~~~ #
# ================== #

# Determina o tipo de ambiente que a aplicação estará sendo executada.
# - D, DEV, DEVELOP para ambiente de desenvolvimento (local).
# - H, HMLG, HOMOLOG para ambiente de homologação.
# - P, PROD, PRODUCTION para ambiente de produção.
ENV=DEV

# IP do host da aplicação.
HOST_IP=0.0.0.0

# ================== #
# ~~~~| Docker |~~~~ #
# ================== #

# Variável de ambiente utilizada pelo docker-compose.
# Determina o nome do projeto, usado para criar o nome dos contêineres.
# - Normalmente possui o mesmo valor que o slug do projeto.
COMPOSE_PROJECT_NAME=template-fastapi-celery

# Variável de ambiente utilizada pelo docker-compose.
# Determina quais arquivos `.yml` serão lidos quando rodar os comandos do
# docker-compose.
# - Múltiplos arquivos devem ser separados pelo mesmo caractere contido em
#   `COMPOSE_PATH_SEPARATOR`.
COMPOSE_FILE=docker-compose.yml

# Variável de ambiente utilizada pelo docker-compose.
# Determina o caractere de separação de arquivos contidos em `COMPOSE_FILE`.
COMPOSE_PATH_SEPARATOR=;

# =================== #
# ~~~~| FastAPI |~~~~ #
# =================== #

# Porta da aplicação FastAPI
APP_PORT=

# Número de workers do GUnicorn (Quando a aplicação FastAPI for criada com GUnicorn).
APP_WORKERS=

# ==================== #
# ~~~~| RabbitMQ |~~~~ #
# ==================== #

# Usuário do rabbitMQ local.
RABBITMQ_DEFAULT_USER=

# Senha do rabbitMQ local.
RABBITMQ_DEFAULT_PASS=

# Porta que será exposta do rabbitMQ local.
RABBITMQ_PORT=

# Porta do admin que será exposta do rabbitMQ local.
# Utilizado apenas pelo 'docker-compose.rabbitmq.yml'.
RABBITMQ_MANAGEMENT_PORT=

# ================== #
# ~~~~| Celery |~~~~ #
# ================== #

# String de conexão com o 'message broker' usado pelo celery principal.
CELERY_BROKER_URL=

# String de conexão com a API do 'message broker', usada para capturar os dados das filas.
CELERY_BROKER_API_URL=

# String de conexão (opcional) com o 'result backend' usado pelo celery principal.
CELERY_RESULT_BACKEND=

# ================== #
# ~~~~| Flower |~~~~ #
# ================== #

# Porta que será exposta do flower.
FLOWER_PORT=

# String de conexão com a API do 'message broker', usada para capturar os dados das filas.
FLOWER_BROKER_API_URL=
