[flake8]
format = ColorFMT
ignore =
    # continuation line over-indented for hanging indent
    E126,
    # continuation line over-indented for visual indent
    E127,
    # expected 1 blank line, found 0
    E301,
    # expected 2 blank lines, found 1
    E302,
    # too many blank lines (N)
    E303,
    # 'from ... import *' used; unable to detect undefined names
    F403,
    # '...' may be undefined, or defined from star imports: ...
    F405,
    # redefinition of unused '...' from line N  (Problema com @overloads)
    F811,
indent-size = 2
exclude =
    .git,
    __pycache__,
max-line-length = 119
max-doc-length = 119
per-file-ignores =
    # '...' imported but unused
    __init__.py: F401

[flake8:local-plugins]
report =
  ColorFMT = utils.flake8:ColorFormatter
paths =
  .
